@font-face {
    font-family: RR;
    src: url(../font/roboto-regular.woff2);
}
@font-face {
    font-family: RB;
    src: url(../font/roboto-bold.woff2);
}
@font-face {
    font-family: 'slick';
    src: url(../font/slick.ttf);
}


 